* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  li {
    list-style: none;
  }
}

.header {
  &__logo {
    display: flex;
    align-items: center;
    img {
      margin-right: 12px;
      width: 20px;
    }
  }
  &__name {
    font-family: Dancing Script;
  }
  &__menu {
    width: 100%;
    ul {
      width: 100%;
      justify-content: flex-end;
      li {
        margin-right: 40px;
        font-size: 20px;
      }
    }
  }
}

.home {
  margin-top: 56px;
  width: 100%;
  position: relative;
  &__text {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    right: 0px;
    background: rgba(111, 13, 13, 0.65);
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  h1,
  p {
    color: #fff;
  }
  &__heading {
    text-align: center;
    font-size: 50px;
    width: 60%;
  }
  &__slogan {
    &-container {
      overflow: hidden;
      white-space: nowrap;
      animation: typing 3s linear infinite;
      display: flex;
      justify-content: center;
      font-size: 18px;
      color: #fff;
    }
    @keyframes typing {
      0% {
        width: 0;
      }
      50% {
        width: 25%;
      }
      100% {
        width: 0;
      }
    }
  }
  &__link {
    background: #fff;
    color: #000;
    text-decoration: none;
    font-weight: bold;
    border-radius: 20px;
    padding: 10px 20px;
    &:hover {
      color: #000;
      cursor: pointer;
    }
  }
}

.about {
  position: relative;
  width: 100%;
  height: 100vh;
  min-height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  h2 {
    color: #f32451;
    margin-bottom: 20px;
  }
  &__content-wrapper {
    display: flex;
    justify-content: space-around;
  }

  &__img {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  &__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 500px;
    margin: 0 40px;
  }

  img {
    background-color: #eee;
    width: 260px;
    border-radius: 20px;
    box-shadow: 0px 8px 14px 3px #00000038;
  }
}

.activity {
  width: 100%;
  height: 100vh;
  min-height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  h2 {
    color: #f32451;
  }
  &__cards-wrapper {
    display: flex;
  }
  &__card {
    margin: 20px;
    box-shadow: rgb(50 50 93 / 25%) 0px 30px 60px -12px,
      rgb(0 0 0 / 30%) 0px 18px 36px -18px;
    max-width: 300px;
    min-height: 250px;
    border-radius: 10px;
    padding: 30px;
    transition: transform 0.6s ease-in-out;
    &:hover {
      transform: translateY(-8px);
    }
    i {
      background: linear-gradient(to bottom right, #f32451, #c31fba);
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 10px 0 40px;
      border-radius: 55% 35% 48% 30% / 40% 40% 70% 6%;
      border-top-left-radius: 55% 40%;
      border-top-right-radius: 35% 40%;
      border-bottom-right-radius: 48% 70%;
      border-bottom-left-radius: 30% 6%;
      width: 50px;
      height: 50px;
      font-size: 30px;
    }
    h3 {
      color: #f32451;
      margin-bottom: 30px;
    }
  }
}

.portfolio {
  width: 100%;
  height: 100vh;
  min-height: 520px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  h2 {
    color: #f32451;
  }
  &__cards-wrapper {
    display: flex;
  }
  &__card {
    margin: 20px;
    box-shadow: rgb(50 50 93 / 25%) 0px 30px 60px -12px,
      rgb(0 0 0 / 30%) 0px 18px 36px -18px;
    width: 300px;
    border-radius: 10px;
    padding: 10px;
    img {
      border-radius: 8px;
      width: 100%;
    }
    h5 {
      margin-top: 20px;
    }
  }
}

.contact {
  background-color: #222226;
  color: white;
  display: flex;
  justify-content: space-around;
  padding: 120px;

  h3 {
    color: #f32451;
  }
}

.map {
  max-width: 600px;
  width: 100%;
}

// responsive

@media screen and (max-width: 1000px) {
  .portfolio,
  .activity,
  .about {
    height: fit-content;
  }
  .portfolio__cards-wrapper,
  .activity__cards-wrapper,
  .about__content-wrapper {
    flex-direction: column;
  }
  .about__content-wrapper {
    margin-top: 100px;
  }
  h2 {
    margin-top: 100px;
  }
}

@media screen and (max-width: 600px) {
  .home__heading {
    font-size: 30px;
  }
}
@media screen and (max-width: 400px) {
  .home__heading {
    font-size: 20px;
  }
}

.myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: red; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

.myBtn.active {
  display: block;
}

.myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}

// background animation

.wrapper {
  z-index: -1;
  height: 100%;
  width: 100%;
  position: absolute;
}

.wrapper div {
  height: 60px;
  width: 60px;
  border: 2px solid rgba(243, 36, 81, 0.5);
  border-radius: 50px;
  position: absolute;
  top: 10%;
  left: 10%;
  animation: 4s linear infinite;
}
div .dot {
  // height: 10px;
  // width: 10px;
  // border-radius: 50px;
  // background: rgba(243, 36, 81, 0.5);
  // position: absolute;
  // top: 20%;
  // right: 20%;
}
.wrapper div:nth-child(1) {
  top: 20%;
  left: 20%;
  animation: animate 8s linear infinite;
}
.wrapper div:nth-child(2) {
  top: 22%;
  left: 22%;
  animation: animate 10s linear infinite;
}
.wrapper div:nth-child(3) {
  top: 40%;
  left: 40%;
  animation: animate 3s linear infinite;
}
.wrapper div:nth-child(4) {
  top: 66%;
  left: 30%;
  animation: animate 7s linear infinite;
}
.wrapper div:nth-child(5) {
  top: 90%;
  left: 10%;
  animation: animate 9s linear infinite;
}
.wrapper div:nth-child(6) {
  top: 30%;
  left: 60%;
  animation: animate 5s linear infinite;
}
.wrapper div:nth-child(7) {
  top: 70%;
  left: 20%;
  animation: animate 8s linear infinite;
}
.wrapper div:nth-child(8) {
  top: 75%;
  left: 60%;
  animation: animate 10s linear infinite;
}
.wrapper div:nth-child(9) {
  top: 50%;
  left: 50%;
  animation: animate 6s linear infinite;
}
.wrapper div:nth-child(10) {
  top: 45%;
  left: 20%;
  animation: animate 10s linear infinite;
}
.wrapper div:nth-child(11) {
  top: 10%;
  left: 90%;
  animation: animate 9s linear infinite;
}
.wrapper div:nth-child(12) {
  top: 20%;
  left: 70%;
  animation: animate 7s linear infinite;
}
.wrapper div:nth-child(13) {
  top: 20%;
  left: 20%;
  animation: animate 8s linear infinite;
}
.wrapper div:nth-child(14) {
  top: 60%;
  left: 5%;
  animation: animate 6s linear infinite;
}
.wrapper div:nth-child(15) {
  top: 90%;
  left: 80%;
  animation: animate 9s linear infinite;
}
@keyframes animate {
  0% {
    transform: scale(1) translateX(0) translateY(0) rotate(0deg);
  }
  50% {
    transform: scale(1.2) translateX(10px) translateY(10px) rotate(180deg);
  }
  100% {
    transform: scale(1) translateX(0) translateY(0) rotate(360deg);
  }
}
