@media screen and (max-width: 1000px) {
  .portfolio,
  .activity,
  .about,
  .contact {
    height: fit-content;
    padding-top: 80px;
  }
  .cards-wrapper {
    flex-direction: column;
  }
  .content-wrapper {
    flex-direction: column;
    align-items: center;
  }
  .slide-card {
    max-width: 500px;
  }
  .contact-info {
    margin-top: 40px;
  }
  @include slogan(50%);
}

@media screen and (max-width: 600px) {
  .top-heading {
    font-size: 30px;
  }
  @include slogan(80%);
}

@media screen and (max-width: 400px) {
  // fix horizontal scroll bar
  html,
  body {
    overflow-x: hidden !important;
    width: 100vw !important;
  }
  .top-heading {
    font-size: 20px;
  }
  @include slogan(100%);
}
