// Colors
$no-color: rgba(0, 0, 0, 0);
$mask-bg: rgba(111, 13, 13, 0.65);
$white: rgb(255, 255, 255);
$off-white: rgb(238, 238, 238);
$grey: rgba(0, 0, 0, 0.55);
$dark-grey: rgba(0, 0, 0, 0.7);
$theme-pink: rgb(243, 36, 81);
$theme-pink-light: rgba(243, 36, 81, 0.65);
$theme-velvet: rgb(195, 31, 186);
$theme-velvet-light: rgb(195, 31, 186, 0.65);
$black: rgb(34, 34, 38);

// Shadows
$box-shadow: rgb(50 50 93 / 25%) 0px 30px 60px -12px,
  rgb(0 0 0 / 30%) 0px 18px 36px -18px;
